.u-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-flex {
    display: flex;
}

.u-flex-row {
    flex-direction: row;
}

.u-flex-row-reverse {
    flex-direction: row-reverse;
}

.u-flex-column {
    flex-direction: column;
}
