.button,
.ml-form-embedSubmit button,
[type="submit"],
[type="button"],
[type="reset"] {
    background-color: transparent;
    border: none;

    &:disabled {
        color: var(--c-disabled);
    }
}

.button {
    @extend %button-base;
    --c-text-l: 7%;
    background-color: hsl(
        var(--c-action-h),
        var(--c-action-s),
        var(--c-action-l)
    );

    --icon-stroke: #fff;
    position: relative;
    border: 2px solid var(--c-text);
    box-shadow: 0 var(--offset, 5px) 0 var(--c-text);

    &:hover {
        --c-acition-l: 7%;
        color: var(--c-text);
        top: 4px;
        --offset: 1px;
    }

    &--icon {
        padding-left: var(--space-l);
    }
}

.button-secondary,
.button-alt {
}

.ml-form-embedSubmit button,
.readmore {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    font-weight: 900;
    --icon-stroke: hsl(var(--c-action-h), var(--c-action-s), 100%);

    --icon-fill: hsl(var(--c-action-h), var(--c-action-s), var(--c-action-l));
    &:hover {
        --icon-fill: hsl(
            var(--c-action-h),
            var(--c-action-s),
            var(--c-action-l)
        );
        --icon-stroke: hsl(var(--c-action-h), var(--c-action-s), 7%);
    }
}

.menu-toggle {
    @include hide-desktop();

    path {
        transition: all var(--transition-speed, 0.3s) ease-in-out;
        transform-origin: center;
    }

    .menu-open & {
        path:first-child {
            opacity: 0;
            transform: translateY(4px);
        }
        path:nth-child(2) {
            transform: rotate(45deg) translate(2%, 0);
        }
        path:nth-child(3) {
            transform: rotate(-45deg) translate(-2%, -17%);
        }
    }
}
