.site-header {
    --headroom-translate: -200%;
    top: 0;

    
    .inner {
    
    [role="search"] {
            display: none
    }
    @media screen and (min-width: $size-mobile) {
        [role="search"] {
            display: block
        }
    }
    @media (min-width: 120em) {
        .mobile-navigator-toggle{
            display: none;
        }
    }

        width: min(var(--size-container), var(--size-container-max));
        margin-inline: auto;

        display: flex;
        gap: var(--gap);
        justify-items: start;

        .logo{
            flex-grow: 1;
        }
    }
}

