.site-header {
    --headroom-translate: 0%;
    --_th-pb:0;
    position: fixed;
    inset: 10px;
    top: auto;
    width: auto;
    --c: var(--c-text);
    background-color: var(--bgc-toggable-mobile, #fff);
    box-shadow: 3px 5px 0 var(--c);
    border-radius: var(--bdrs-base, 14px);
    border: 3px solid var(--c-text);

    .menu-open & {
        --c: var(--c-action);
    }

    .logo {
        margin-left: var(--space-3xs);
    }

    .inner {
        height: var(--h-header-mobile);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
    }

    .toggable {
        bottom: calc(var(--h-header-mobile) + 65px);
        position: fixed;
        pointer-events: none;
        right: var(--space-m);
        --o: 0;
        --ts: 200ms;
        --tda: 300ms;
        --tdb: 200ms;
        --tdm: 100ms;

        .main-navigation {
            opacity: var(--o);
            padding: var(--space-m);
            max-height: 300px;
            transition: opacity var(--ts) ease-in-out;
            overflow: scroll;
            background-color: var(--bgc-toggable-mobile, #fff);
            box-shadow: 3px 5px 0 var(--c-text);
            border-radius: var(--bdrs-base, 14px);
            border: 3px solid var(--c-text);
            width: 70vw;
            max-width: 350px;
            transition-delay: var(--tdm);
        }

        .menu-open & {
            pointer-events: all;
            --o: 1;
            --tda: 100ms;
            --tdb: 200ms;
            --tdm: 300ms;
        }

        &::after,
        &::before {
            transition: opacity var(--ts) ease-in-out;
            opacity: var(--o);
            content: "";
            position: absolute;
            bottom: -30px;
            right: 5px;
            border-radius: 50%;
            aspect-ratio: 1;
            width: var(--w, 20px);
            background-color: var(--c-text);
            transition: opacity var(--td-menu-transform) ease-in-out;
            transition-delay: var(--tdb);
        }

        &::after {
            transition-delay: var(--tda);
            --w: 10px;
            bottom: -43px;
        }
    }

    a span {
        display: none;
    }
}
